/* styles.css */

body {
    background-color: rgba(97, 127, 110, 0.995);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#s1 {
    font-size: 80px;
    margin-left: 430px;
    color: rgb(237, 243, 239);
    text-shadow:
    -1px -1px 0 #000000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
    font-family: 'DM Serif Display', serif;}

#navigation {
    font-size: 18px;
    font-family:Arial, Helvetica, sans-serif;
    padding: 1px;
    border-radius: 30px;
    border-style:groove;
    background-color: rgba(133, 172, 148, 0.377)
}

#Biography {
    background-color: rgb(133, 172, 148);
    padding: 10px;
    border-radius: 40px;
    margin-bottom: 20px;
    width: 50%;
    float: right;
}
#Redirections {
    color: #ffffff;
    margin-left: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
#IMAGES {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    margin-left: 40px;
}
#p1 {
    color:#ffffff; 
    margin-left: 450px;
    font-size: 30px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
#p1text {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}
img {
    max-width: fit-content;
    height: auto;
}
figcaption {
    font-family:Arial, Helvetica, sans-serif
}
a {
    color: #ad3d3d;
    border-bottom: 1px #54835f;
}
#table {
    padding: 30px;
    background-color: rgb(133, 172, 148);
    border-collapse: collapse;
    border-style: groove;
    border-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    width: 60%;
    margin-bottom: 10px;
    margin-left: 40px;
}
#tabletitle {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    margin-left: 40px;
}
th td {
    border: 1px solid #000000;
    padding: 8px;
}
th {
    background-color: rgb(82, 107, 84);
    border-style: groove;
}
td {
    text-align: center;
}
nav ul li {
    display: inline;
    margin-left: 170px;
}
footer {
    /* footer styling */
    padding: 20px;
    text-align: center;
    color:rgb(255, 255, 255)

}
#Contact {
    background-color: rgb(133, 172, 148);
    padding: 1px;
    border-radius: 20px;
    color: #ffffff;
}
#d1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}

.triangle {
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
}

.triangle-left {
    border-style: solid;
    left: 0;
    border-width: 0 300px 300px 0px  ;
    border-color: transparent rgb(133, 172, 148);
    transform: rotate(270deg);
}

.triangle-right {
    border-style: solid;
    right: 0;
    border-width: 0 300px 300px 0px  ;
    border-color: transparent rgb(133, 172, 148);
    transform: rotate(0deg);
}